<app-navbar-complet></app-navbar-complet>

<div class="btmenu">
  <p-button
    icon="pi pi-microsoft"
    styleClass="p-button-rounded p-button-secondary"
    routerLink="/menu"
  ></p-button>
</div>

<div class="title">
  <h2>Reward Setting</h2>
</div>

<!-- <div class="card">
  <div class="row" style="display: flex; justify-content: center">
    <div class="p-float-label" style="margin-top: 2rem">
      <input
        pInputText
        id="username"
        [style]="{
          width: '95%',
          height: '40px',
          'border-radius': '10px'
        }"
      />
      <label>วันที่จับรางวัล</label>
    </div>
    <div class="p-float-label" style="margin-top: 2rem">
      <input
        pInputText
        id="username"
        [style]="{
          width: '95%',
          height: '40px',
          'border-radius': '10px'
        }"
      />
      <label>เวลาที่จับรางวัล</label>
    </div>
  </div>
  <div class="row" style="display: flex; justify-content: center">
    <div class="p-float-label">
      <input
        pInputText
        id="username"
        [style]="{
          width: '95%',
          height: '40px',
          'border-radius': '10px'
        }"
      />
      <label>รางวัลที่</label>
    </div>
    <div class="p-float-label">
      <input
        pInputText
        id="username"
        [style]="{
          width: '95%',
          height: '40px',
          'border-radius': '10px'
        }"
      />
      <label>จำนวนรางวัล</label>
    </div>
  </div>
  <div class="row" style="display: flex; justify-content: center">
    <div class="p-float-label">
      <input
        pInputText
        id="username"
        [style]="{
          width: '97.8%',
          height: '40px',
          'border-radius': '10px'
        }"
      />
      <label>รางวัลที่</label>
    </div>
  </div>
  <div class="row" style="display: flex; justify-content: end">
    <div class="p-float-label" style="margin-left: 10rem">
      <p-button label="เพิ่ม"></p-button>
    </div>
    <div class="p-float-label" style="margin-left: -4rem; margin-right: -3rem">
      <p-button label="เคลียร์" severity="warning"></p-button>
    </div>
  </div>
</div> -->

<div class="card-container">
  <div class="card flex justify-content-center">
    <p-card [style]="{ width: '340px' }">
      <ng-template pTemplate="header">
        <div class="row" style="display: flex; justify-content: center">
          <div
            class="p-float-label"
            style="margin-top: 2rem; margin-left: 0.5rem"
          >
            <input
              pInputText
              id="username"
              [style]="{
                width: '95%',
                height: '40px',
                'border-radius': '10px'
              }"
            />
            <label>วันที่จับรางวัล</label>
          </div>
          <div class="p-float-label" style="margin-top: 2rem">
            <input
              pInputText
              id="username"
              [style]="{
                width: '95%',
                height: '40px',
                'border-radius': '10px'
              }"
            />
            <label>เวลาที่จับรางวัล</label>
          </div>
        </div>
        <div class="row" style="display: flex; justify-content: center">
          <div
            class="p-float-label"
            style="margin-top: 2rem; margin-left: 0.5rem"
          >
            <input
              pInputText
              id="username"
              [style]="{
                width: '95%',
                height: '40px',
                'border-radius': '10px'
              }"
            />
            <label>รางวัลที่</label>
          </div>
          <div class="p-float-label" style="margin-top: 2rem">
            <input
              pInputText
              id="username"
              [style]="{
                width: '95%',
                height: '40px',
                'border-radius': '10px'
              }"
            />
            <label>จำนวนรางวัล</label>
          </div>
        </div>
        <div class="row" style="display: flex; justify-content: start">
          <div
            class="p-float-label"
            style="margin-top: 2rem; margin-left: 0.5rem"
          >
            <input
              pInputText
              id="username"
              [style]="{
                width: '156%',
                height: '40px',
                'border-radius': '10px'
              }"
            />
            <label>รางวัล</label>
          </div>
        </div>
      </ng-template>
      <div class="p-d-flex p-jc-end">
        <p-button label="Save" icon="pi pi-plus"></p-button>
        <p-button
          label="Cancel"
          icon="pi pi-trash"
          styleClass="p-button-secondary"
          [style]="{ 'margin-left': '.5em' }"
        ></p-button>
      </div>
    </p-card>
  </div>
</div>
