<app-navbar-complet></app-navbar-complet>

<div class="btmenu px-3">
  <p-button
    icon="pi pi-microsoft"
    styleClass="p-button-rounded p-button-secondary"
    routerLink="/menu"
  ></p-button>
</div>

<div class="title">
  <h2>Reward Setting</h2>
</div>

<div class="container">
  <div
    style="display: flex; justify-content: center; align-items: center"
  >
    <ng-container>
      <div class="card col-12 col-offset-6 md:col-10 m-0 py-0">
        <p-card>
          <ng-template pTemplate="header">
            <div class="row" style="display: flex; justify-content: center">
              <div class="p-float-label col-6" style="margin-top: 2rem">
                  <span style="padding: 0.5rem;">วันที่จับรางวัล</span>
                <input
                  pInputText
                  id="username"
                  placeholder="วว/ดด/ปป"
                  [(ngModel)]="date"
                  [style]="{
                    width: '100%',
                    'border-radius': '5px'
                  }"
                  style="margin-top: 0.5rem"
                />
              </div>
              <div class="p-float-label col-6" style="margin-top: 2rem">
                  <span style="padding: 0.5rem;">เวลาที่จับรางวัล</span>
                <input
                  pInputText
                  id="username"
                  placeholder="00:00"
                   [(ngModel)]="time"
                  [style]="{
                    width: '100%',
                    'border-radius': '5px'
                  }"
                  style="margin-top: 0.5rem"
                />
              </div>
            </div>
            <div class="row" style="display: flex; justify-content: center">
              <div class="p-float-label col-6">
                  <span style="padding: 0.5rem;">รางวัลที่</span>
                <input
                  pInputText
                  id="username"
                  placeholder="รางวัลที่..."
                   [(ngModel)]="rewardno"
                  [style]="{
                    width: '100%',
                    'border-radius': '5px'
                  }"
                  style="margin-top: 0.5rem"
                />
              </div>
              <div class="p-float-label col-6">
                <span style="padding: 0.5rem;">จำนวนรางวัล</span>
                <input
                  pInputText
                  id="username"
                  placeholder="จำนวนรางวัล..."
                   [(ngModel)]="rewardamount"
                  [style]="{
                    width: '100%',
                    'border-radius': '5px'
                  }"
                  style="margin-top: 0.5rem"
                />
              </div>
            </div>
            <div class="row" style="display: flex; justify-content: start">
              <div class="p-float-label col-12">
                  <span style="padding: 0.5rem;">รางวัล</span>
                <input
                  pInputText
                  id="username"
                  placeholder="รางวัล..."
                   [(ngModel)]="reward"
                  [style]="{
                    width: '100%',
                    'border-radius': '5px'
                  }"
                  style="margin-top: 0.5rem"
                />
              </div>
            </div>
          </ng-template>
          <div class="row flex justify-content-center flex-wrap">
            <div class="col-12 flex align-items-center justify-content-center">
              <p-button
                label="เพิ่ม"
                (click)="add()"
                icon="pi pi-plus"
                [style]="{
                  width: '100px',
                  height: '40px',
                  display: 'flex',
                  'align-items': 'center',
                  'justify-content': 'center'
                }"
              ></p-button>
              <p-button
                label="เคลียร์"
                (click)="clear()"
                icon="pi pi-refresh"
                styleClass="p-button-secondary"
                [style]="{
                  'margin-left': '.5em',
                  width: '100px',
                  height: '40px',
                  display: 'flex',
                  'align-items': 'center',
                  'justify-content': 'center'
                }"
              ></p-button>
            </div>
          </div>
        </p-card>
      </div>
    </ng-container>
  </div>
</div>

<div class="container" *ngIf="showTable">
  <div

    style="display: flex; justify-content: center; align-items: center"
  >
    <ng-container>
      <div class="card col-12 col-offset-6 md:col-10 m-0 py-0">
        <p-card>
          <div class="row flex justify-content-center flex-wrap">
            <div
              class="col-12 flex align-items-center justify-content-end mb-2 -mt-4"
            >
              <p-button
                label="บันทึก"
                icon="pi pi-save"
                styleClass="p-button-success"
                [style]="{
                  width: '100px',
                  height: '40px',
                  display: 'flex',
                  'align-items': 'center',
                  'justify-content': 'center'
                }"
              ></p-button>
              <p-button
                label="ลบ"
                icon="pi pi-trash"
                styleClass="p-button-danger"
                [style]="{
                  'margin-left': '.5em',
                  width: '100px',
                  height: '40px',
                  display: 'flex',
                  'align-items': 'center',
                  'justify-content': 'center'
                }"
              ></p-button>
            </div>
          </div>

          <p-table
            dataKey="code"
            [paginator]="true"
            [rows]="5"
            [selectionPageOnly]="true"
            styleClass="p-datatable-gridlines p-datatable-sm"
          >
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 4rem">
                  <p-tableHeaderCheckbox
                    style="min-width: 50px; text-align: center"
                  ></p-tableHeaderCheckbox>
                </th>
                <th style="min-width: 50px; text-align: center">ลำดับ</th>
                <th style="min-width: 50px; text-align: center">วันที่</th>
                <th style="min-width: 50px; text-align: center">เวลา</th>
                <th style="min-width: 50px; text-align: center">จำนวน</th>
                <th style="min-width: 100px; text-align: center">รางวัล</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body">
              <tr>
                <td>
                  <p-tableCheckbox></p-tableCheckbox>
                </td>
                <!-- <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.quantity }}</td> -->
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
              </tr>
            </ng-template>
          </p-table>
        </p-card>
      </div>
    </ng-container>
  </div>
</div>
