<app-navbar></app-navbar>

<div class="card flex justify-content-center mt-4">
  <p-card
    header="Register"
    class="w-20rem"
    [style]="{
      background:
        'linear-gradient(180deg, #6C4DEA 1%, #3C24B7 58%, #281062 100%)',
      'border-radius': '22px'
    }"
  >
    <span class="p-float-label">
      <input pInputText id="username" [(ngModel)]="username" />
      <label style="color: white" htmlFor="username">FirstName</label>
    </span>
    <span class="p-float-label mt-4">
      <input pInputText id="email" [(ngModel)]="email" />
      <label style="color: white" htmlFor="email">email</label>
    </span>
    <span class="p-float-label mt-4">
      <input pInputText id="telephoneNo" [(ngModel)]="PhoneNo" />
      <label style="color: white" htmlFor="telephoneNo">telephoneNo</label>
    </span>
    <span class="p-float-label mt-4">
      <input pInputText id="Company" [(ngModel)]="Company" />
      <label style="color: white" htmlFor="Company">Company</label>
    </span>

    <span class="p-float-label mt-4">
      <p-multiSelect
        [style]="{
          width: '100%',
          background: '#081D5B',
          'border-radius': '15px',
          border: '0',
          
        }"
        [options]="solution"
        [(ngModel)]="selectedSolution"
        defaultLabel="Select a Solution"
        optionLabel="solutionProductTitle"
        [ngModelOptions]="{ standalone: true }"
      ></p-multiSelect>
      <label style="color: white;" for="ms-solution">Select Solution</label>
    </span>

    <div class="card flex justify-content-center mt-4">
      <button pButton pRipple label="Register" class="bt-regis "  label="Register" (click)="register()"></button>
    </div>
    
    <p class="message" style="text-align: center; color: gray;">
        Already registered?      <a routerLink="/sign-in" style="color: white;"> Sign In  </a>
    </p>
  </p-card>
</div>
