@import url(https://fonts.googleapis.com/css?family=Roboto:300);

::ng-deep .p-card .p-card-title {
  text-align: center;
  color: white;
}
::ng-deep .p-inputtext {
  width: 100%;
  background: #081d5b;
  border-radius: 15px;
  border: 0;
}
::ng-deep .p-multiselect-panel .p-multiselect-header {
  background: #081d5b;
  border: 0;
}
::ng-deep .p-multiselect-panel .p-multiselect-items {
  background: #081d5b;
}
::ng-deep .p-multiselect-panel .p-multiselect-items .p-multiselect-item {
  color: white;
}
::ng-deep .bt-regis {
  background: linear-gradient(90deg, #332bcc 0%, #7b42c5 100%);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
::ng-deep .p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
background-color: #2c4387;
color: white;
}
