<app-navbar-complet></app-navbar-complet>
<div class="card flex justify-content-center" style="height: 100vh">
  <p-card
    [style]="{
      width: '326px',
      background:
        'linear-gradient(180deg, #6C4DEA 1%, #3C24B7 58%, #281062 100%)',
      'border-radius': '22px',
      margin: 'auto',
      'margin-top': '3rem'
    }"
  >
    <h2 style="color: azure; text-align: center">Change Password</h2>
    <p>
      <span
        class="p-float-label my-4"
        [style]="{ 'margin-left': '-0.5em',}"
      >
        <input
          pInputText
          id="password"
          class="label-p"
          [style]="{ width: '100%' }"
        />
        <label htmlFor="password" class="label-p">Old password</label>
      </span>
      <span
        class="p-float-label my-4"
        [style]="{ 'margin-left': '-0.5em',}"
      >
        <p-password
          id="password"
          class="label-p"
          [(ngModel)]="value"
          [toggleMask]="true"
        ></p-password>
        <label htmlFor="password" class="label-p">New password</label>
      </span>
      <span
        class="p-float-label my-4"
        [style]="{ 'margin-left': '-0.5em',}"
      >
        <p-password
          class="label-p "
          [(ngModel)]="values"
          [toggleMask]="true"
        ></p-password>
        <label htmlFor="password" class="label-p">Comfirm new password</label>
      </span>
    </p>
    <div class="text-center" style="margin-top: 2em">
      <button
        pButton
        pRipple
        routerLink="/user"
        label="Change Password"
      ></button>
    </div>
  </p-card>
</div>
