::ng-deep .p-button {
  background: linear-gradient(90deg, #332bcc 0%, #7b42c5 100%) !important;
  border-radius: 10px !important;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
    border: #2913e5;
}
::ng-deep .p-input-icon-right  .p-inputtext {
    padding-right: 6.4rem !important;
}
::ng-deep .p-inputtext {
    background: #081D5B !important;
    border: 0 !important;
    margin: 0 0 15px !important;
    border-radius: 15px !important;
}
