<app-navbar-complet></app-navbar-complet>
<div
  class="card flex justify-content-center"
  style="height: 100vh"
>
  <p-card
    [style]="{
      width: '326px',
      background:
        'linear-gradient(180deg, #6C4DEA 1%, #3C24B7 58%, #281062 100%)',
      'border-radius': '22px',
      margin: 'auto',
      'margin-top': '3rem'
    }"
  >
    <h2 style="color: azure; text-align: center">Change Password</h2>
    <p>
      <span class="p-float-label" [style]="{ 'margin-left': '-0.5em' }">
        <input pInputText id="password" [style]="{ width: '100%' }" />
        <label htmlFor="password">Password</label>
      </span>
      <span
        class="p-float-label"
        [style]="{ 'margin-left': '-0.5em', }"
      >
        <p-password
          id="password"
          [(ngModel)]="value"
          [toggleMask]="true"
        ></p-password>
        <!-- Add label if needed -->
      </span>
      <span
        class="p-float-label"
        [style]="{ 'margin-left': '-0.5em',  }"
      >
        <p-password [(ngModel)]="values" [toggleMask]="true"></p-password>
        <!-- Add label if needed -->
      </span>
    </p>
    <div class="text-center" style="margin-top: 2em; margin-left: 3.5rem">
      <p-button routerLink="/user" label="Change Password"></p-button>
    </div>
  </p-card>
</div>
