.head{
  margin-top: 15px;
  margin-bottom: 7px;
  font-size: 20px;
}

  .text{
    text-align: center;
    display: flex;
    color: rgb(0, 0, 0);
    align-items: center;
  } 
  .card_{
    background: #9DBADF;
    border-radius: 9px;
    width: 100%;
    height: 50px;    
    display: flex;
    justify-content: center;
    padding: 0 1rem;
   }


::ng-deep .p-card{
  color: white;
  margin: 1rem;
  background: linear-gradient(180deg, #292AA1 0%, #4886D4 81%);
  border-radius: 32px;
}

::ng-deep .p-card .p-card-body {
    padding: 0 1 rem;
}

::ng-deep .p-card .p-card-content {
    padding: 2rem 0;
}
/* Media query สำหรับขนาดหน้าจอที่เล็ก */
@media screen and (max-width: 600px) {
  .card {
    max-width: 100%; /* ปรับขนาดตามขนาดหน้าจอที่เล็ก */
  }
}

/* ปรับสไตล์สำหรับหน้าจอโทรศัพท์ */
@media screen and (max-width: 767px) {
  .p-carousel img  {
    overflow-x: auto; /* เพิ่มการเลื่อนในแนวนอนเมื่ออยู่ในโทรศัพท์ */
    white-space: nowrap; /* ไม่ให้ข้อมูลขึ้นบรรทัดใหม่ */
    width: 100%; /* ทำให้รูปภาพเต็มกว้าง */
    height: auto; /* รักษาสัดส่วน */
  }
}