<div class="card">
  <p-menubar styleClass="custom-menubar"  >
    <ng-template pTemplate="start">
      <div class="text-center">
        <div
          style="display: flex; justify-content: center; align-items: center"
        >
          <img src="assets/images/logo.png" />
        </div>

        <p style="color: white; font-size: 12px; margin-bottom: 0px">
          YIP IN TSOI
        </p>
      </div>
    </ng-template>
    <ng-template pTemplate="end">

      <!-- <div class="menubar-end" [model]="items" ></div>-->
      <p-splitButton
        [label]="username"
        [model]="this.items"
        styleClass="p-button-text mr-2 mb-2"
        [style]="{ left: '-22.015620px' }"
      ></p-splitButton>
    </ng-template>
  </p-menubar>
</div>
