/*::ng-deep .p-menuitem-icon{
  color: white !important;
}
::ng-deep .p-menuitem-text {
  color: white !important;
}

::ng-deep .p-menubar-root-list{
  background: linear-gradient(0deg, #2C4387 0%, #2C4387 100%), #1D8CF8 !important;
}
*/
