<div class="card">
  <p-menubar styleClass="custom-menubar">
    <ng-template pTemplate="start">
      <div class="text-center">
        <div
          style="display: flex; justify-content: center; align-items: center"
        >
          <img src="assets/images/logo.png" />
        </div>

        <p style="color: white; font-size: 12px; margin-bottom: 0px">
          YIP IN TSOI
        </p>
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      <div style="display: flex; flex-direction: row; align-items: center">
        <label style="color: white" class="mr-2">{{ username }}</label>
        <button
          #btn
          type="button"
          pButton
          icon="pi pi-bars"
          (click)="menu.toggle($event)"
        ></button>
        <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
      </div>
    </ng-template>
  </p-menubar>
</div>
